In [9]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://testfligoo@localhost:5434/testfligoo')

In [10]:
import psycopg2
import pandas as pd

In [ ]:
df = pd.read_sql_query('select * from "Stat_Table"',con=engine)

In [17]:
import psycopg2
import pandas as pd

# Connection parameters, yours will be different
param_dic = {
    "host"      : "localhost",
    "database"  : "testfligoo",
    "user"      : "testfligoo",
    "password"  : "testfligoo",
    "port"      : "5434"
    
}

def connect(params_dic):
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(**params_dic)
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        sys.exit(1) 
    print("Connection successful")
    return conn

In [15]:
def postgresql_to_dataframe(conn, select_query, column_names):
    """
    Tranform a SELECT query into a pandas dataframe
    """
    cursor = conn.cursor()
    try:
        cursor.execute(select_query)
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        cursor.close()
        return 1
    
    # Naturally we get a list of tupples
    tupples = cursor.fetchall()
    cursor.close()
    
    # We just need to turn it into a pandas dataframe
    df = pd.DataFrame(tupples, columns=column_names)
    return df

In [18]:
conn = connect(param_dic)
column_names = ["flight_date", "flight_status", "departure_airport", "departure_timezone","arrival_airport","arrival_timezone","arrival_terminal","airline_name","flight_number"]
# Execute the "SELECT *" query
df = postgresql_to_dataframe(conn, "select * from testdata", column_names)
df.head()

Connecting to the PostgreSQL database...
Connection successful

,flight_date,flight_status,departure_airport,departure_timezone,arrival_airport,arrival_timezone,arrival_terminal,airline_name,flight_number
0,2021-03-27,active,Singapore Changi,Asia/Singapore,Chhatrapati Shivaji International (Sahar Inter...,Asia - Kolkata,2,SriLankan Airlines,1429
1,2021-03-27,active,Brisbane International,Australia/Brisbane,Cairns,Australia - Brisbane,2,Air New Zealand,7706
2,2021-03-27,active,Brisbane International,Australia/Brisbane,Gladstone,Australia - Brisbane,D,Qantas,2334
3,2021-03-27,active,Brisbane International,Australia/Brisbane,Gladstone,Australia - Brisbane,D,Air New Zealand,7164
4,2021-03-27,active,Brisbane International,Australia/Brisbane,Gladstone,Australia - Brisbane,D,Emirates,5253